.carrito-page {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000000;
    gap: 20px;
}
.carrito-list {
    display: grid;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}
.card-pokemon {
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
}
.form-carrito{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.form-carrito div {
    margin-bottom: 15px;
}
.form-carrito label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-carrito input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}