

.header{
    background-color: #282c34;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.header_title{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.header_nav{
    display: flex;
    gap: 1rem;
}

.nav__link{
    text-decoration: none;
    color: white;
}

.nav__link:active{
    color: #ff00bf;
}