.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #0a0a0a; */
}

.container {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  padding: 3rem 5rem;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

.container::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px 5px white;
  animation: travelBorder 5s linear infinite;
}


@keyframes travelBorder {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.title {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 1px;
}
