.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(107, 45, 3, 0.2);
}

.product-detail h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-detail p {
  object-fit: contain;
  margin-bottom: 20px;
}